streamlit
pdfplumber
pymupdf
python-docx
sentence-transformers
google-generativeai
numpy
pandas
scikit-learn
python-dotenv
spacy
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1.tar.gz
